body{
	font-family: "Lucida Grande", verdana, lucida, helvetica, sans-serif;
	font-size: 9pt;
	background-color: ${background};
	color: ${color};
	max-width: 960px;
	min-width: 960px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding:0;
}


#header, #body, #menu,#footer,#messages{
	clear:both;
	padding: 0;
}

#header{
	color: ${header-color};
	
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	
	
	background-color:#1B5790;
	
	text-align:left;
	width:100%;
	margin-top:5px;
	float: left;
}

#header a{
	float: left;	
	padding: 5px 0 5px 5px;
}

#admin-info {
	float:right;
	font-size:smaller;
	padding:25px 5px 0;
}

#vo-info, #admin-info {
	color: #d2dcf3;
	display:inline;
	font-weight:bold;
}

#vo-info {
	float:left;
	font-size:smaller;
	padding:25px 0 0 5px;
}

#admin-info span, #vo-info span{
	font-weight: bold;
	color: white;	
}

.voName{
	color: ${message-color};
	font-weight: bold;	
	font-size: larger;
}



#messages{
	font-size: 8pt;
	font-weight: bold;
	min-height: 1em;
	margin: 5px;
	padding-top: 5px;
}

#body{

}


#footer{
	margin-top: 1em;
	border-top: 1px solid ${border-color}; 
	padding-top: 5px;
	font-size: xx-small;
	background-color: ${background};
	color: ${header-color};
}


#content {
	float: left;
	display: block;
	width: 86%;
	margin-left: 2%;
	padding-right: 0px;
	text-align:left;
}

#oneColCenterPane{
	min-height:520px;
}


#searchPane{
	float: left;
}

#createPane{
	float: right;
	font-size: 8pt;
	margin-bottom: 1ex;
	max-width: 50%;
}

.searchResultsPane{
	clear: both;
	padding-top: 1em;
}

#listAttributeDescriptionsPane{
	margin-top: 2em;	
}

.separator{
	clear: both;	
	height: 1em;
}

#addACLEntryBox, #addDefaultACLEntryBox, #addCertificateBox{
	float:right;	
}

.wwgroup{

	margin-bottom: 1em;
}