#menu{
	float:left;
	background-color: ${menu-background};
	color: ${menu-color};
	width: 100%;
}

#menu ul li{
	font-weight: bold;
	display: inline;
	float: left;
	text-align: center;
	padding: .5em;
	margin-left: 3px;
}

#menu ul li.last-menu-item{
	display: inline;
	float: right;
	font-weight: bold;
	text-align: center;

}

#menu ul li a{
	
	color: #325B0A;
	
}

#menu ul li a:HOVER{
	
	color: black;
	text-decoration: underline;
}