.table {
	width: 100%;
	padding: 0px;
	display: table;
	border-bottom: 1px solid ${border-color};
/*	border-left: 1px solid ${border-color}; */
}

.tableHeader {
	font-weight: bold;
	text-align: center;
	display: table-cell;
	border-bottom: 1px solid ${border-color};
/*	border-right: 1px solid ${border-color}; */
	background-color: ${menu-background};
}

.tableHeaderRow {
	display: table-row;
}

.tableHeaderRow td{
	font-weight: bold;
	text-align: left;
	display: table-cell;
	border-bottom: 1px solid ${border-color};
	
	/*
	border-top: 1px solid ${border-color}; 
	border-right: 1px solid ${border-color};
	*/
	
	color: ${header-color};
	padding: .2ex;
}

.tableRowEven  {
	display: table-row;
	background-color: ${table-row-even-background};
}

.tableRowEven td{
	display: table-cell;	
	text-align: left;
	/* border-right: 1px solid ${border-color}; */
	padding: .5ex;
}

.tableRowOdd td{
	display: table-cell;	
	text-align: left;
	padding: .5ex;
}

.tableRowOdd {
	background-color: ${table-row-odd-background};
	display: table-row;
}

table{
	display: table;
	clear: both;
}

tr{
	display: table-row;
}

td{
	display: table-cell;
}

colgroup{

	display: table-column-group;
}

col{

	display: table-column;
}