<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<property name="hibernate.bytecode.provider">cglib</property>
        <!-- 
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        -->
        
        <!-- Cache Configurations -->
    
        <property name="hibernate.cache.provider_class">
          net.sf.ehcache.hibernate.SingletonEhCacheProvider
        </property>
    
        <property name="hibernate.cache.use_minimal_puts">false</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_structured_entries">true</property>
        
        <mapping resource="org/glite/security/voms/admin/model/VOMSDBVersion.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSSeqNumber.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSAdmin.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSCA.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSUser.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSUserAttribute.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSGroup.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSGroupAttribute.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSRole.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSRoleAttribute.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/History.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSAttributeDescription.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSCapability.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMSMapping.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/ACL.hbm.xml" />
        <mapping resource="org/glite/security/voms/admin/model/VOMembershipRequest.hbm.xml" />
        
<!--        <event type="post-delete">-->
<!--        		<listener class="org.glite.security.voms.admin.database.listeners.VOMSHibernateListener"/>-->
<!--        </event>-->
<!--        -->
<!--        <event type="post-update">-->
<!--       		<listener class="org.glite.security.voms.admin.database.listeners.VOMSHibernateListener"/>-->
<!--        </event>-->
<!--        -->
<!--        <event type="post-insert">-->
<!--       		<listener class="org.glite.security.voms.admin.database.listeners.VOMSHibernateListener"/>-->
<!--        </event>-->
    </session-factory>
</hibernate-configuration>
