#*
 * Copyright (c) Istituto Nazionale di Fisica Nucleare (INFN). 2006-2016
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
Dear $recipient, 

you have requested to be a member of VO $voName.

In order for the registration to proceed, you should confirm this
request by going to the following url:

$confirmURL

In case you never requested to be a member of VO $voName, please
let us know by going to the following url:

$cancelURL

Your sincerely,
Voms-Admin registration service for VO $voName
