Dear $recipient,

as VO administrator of VO $voName, your authorization is requested for the 
VO membership request issued by the following user:

DN: $req.getDn()
CA: $req.getCa()
Email: $req.getEmailAddress()

In order to handle this membership request, point your browser
to the following URL:

$requestManagementURL

Your sincerely,
Voms-Admin registration service for VO $voName
