Dear $recipient,

this mail is to inform you that user:

$user

membership for VO $voName has been suspended for the
following reason:

$suspensionReason

Your sincerely,
Voms-Admin registration service for VO $voName
