Dear $recipient, 

you have requested to be a member of VO $voName.

In order for the registration to proceed, you should confirm this
request by going to the following url:

$confirmURL

In case you never requested to be a member of VO $voName, please
let us know by going to the following url:

$cancelURL

Your sincerely,
Voms-Admin registration service for VO $voName
