#*
 * Copyright (c) Members of the EGEE Collaboration. 2006-2009.
 * See http://www.eu-egee.org/partners/ for details on the copyright holders.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Authors:
 * 	Andrea Ceccanti (INFN)
 *#
Dear $recipient,

as VO administrator of VO $voName, your authorization is requested for the
following $request.typeName.toLowerCase() issued by the following user:

User Certificate information:

	Subject: $request.requesterInfo.certificateSubject
	Issuer:  $request.requesterInfo.certificateIssuer
	
Personal information:

#if ( $request.requesterInfo.name ) 
	Name: $request.requesterInfo.name
#end
#if ( $request.requesterInfo.surname )
	Surname: $request.requesterInfo.surname
#end
#if ( $request.requesterInfo.institution )
	Institution: $request.requesterInfo.institution
#end
#if ( $request.requesterInfo.address )
	Address: $request.requesterInfo.address
#end
#if ( $request.requesterInfo.phoneNumber )
	Phone number: $request.requesterInfo.phoneNumber
#end

	Email: $request.requesterInfo.emailAddress


#if ($request.class.simpleName == 'GroupMembershipRequest')

The above user has requested membership for group:
	
	$request.groupName

#elseif ($request.class.simpleName == 'RoleMembershipRequest')

The above user has requested the assignment of role: 
	
	$request.roleName

in the context of group:
	
	$request.groupName
	
#elseif ($request.class.simpleName == 'CertificateRequest')

The above user has requested that the certificate:

	Subject: $request.certificateSubject
	Issuer: $request.certificateIssuer
	
is added to the list of valid certificates for the user.

#end

In order to handle this request, point your browser
to the following URL:

$requestManagementURL

Your sincerely,
The Voms-Admin registration service for VO $voName