Dear $recipient,

as VO administrator of VO $voName, your authorization is requested for the 
group membership request issued by the following user:

Certificate information:

	Subject: $req.requesterInfo.certificateSubject
	Issuer:  $req.requesterInfo.certificateIssuer
		
for group:

	$req.groupName


In order to handle this membership request, point your browser
to the following URL:

$requestManagementURL

Your sincerely,
Voms-Admin registration service for VO $voName
