#*
 * Copyright (c) Members of the EGEE Collaboration. 2006-2009.
 * See http://www.eu-egee.org/partners/ for details on the copyright holders.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Authors:
 * 	Andrea Ceccanti (INFN)
 *#
Dear $recipient, 

your $request.typeName.toLowerCase() for VO $voName
has been approved.

#if ( $request.class.simpleName == 'GroupMembershipRequest')

You are now a member of group '$request.groupName'. 

#elseif ( $request.class.simpleName == 'RoleMembershipRequest')
	
You now have role '$request.roleName' in group '$request.groupName'. 
	
#elseif ( $request.class.simpleName == 'CertificateRequest')

The following certificate:

subject: $request.certificateSubject
issuer: $request.certificateIssuer

is now active for your VOMS membership.

#elseif ( $request.class.simpleName == 'MembershipRemovalRequest')

You are no longer part of the $voName VO.

#end

Your sincerely,
The Voms-Admin registration service for VO $voName