.badge {
    background-color: #999999;
    border-radius: 9px 9px 9px 9px;
    color: #FFFFFF;
    font-size: 12.025px;
    font-weight: bold;
    padding: 1px 9px 2px;
    white-space: nowrap;
}
.badge:hover {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.badge-error {
    background-color: #B94A48;
}
.badge-error:hover {
    background-color: #953B39;
}
.badge-warning {
    background-color: #F89406;
}
.badge-warning:hover {
    background-color: #C67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3A87AD;
}
.badge-info:hover {
    background-color: #2D6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1A1A1A;
}

.blabel {
    background-color: #999999;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 13px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
}


.blabel:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.blabel-important {
    background-color: #B94A48;
}
.blabel-important:hover {
    background-color: #953B39;
}
.blabel-warning {
    background-color: #F89406;
}
.blabel-warning:hover {
    background-color: #C67605;
}
.blabel-success {
    background-color: #468847;
}
.blabel-success:hover {
    background-color: #356635;
}
.blabel-info {
    background-color: #3A87AD;
}
.blabel-info:hover {
    background-color: #2D6987;
}
.blabel-inverse {
    background-color: #333333;
}
.blabel-inverse:hover {
    background-color: #1A1A1A;
}

.blabel-invert-important {
	background-color: inherit;
	color: #B94A48;
	font-weight: normal;
	text-shadow: none;
}

.blabel-invert-important:hover {
	color: #B94A48;
    text-decoration: none;
}

.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-heading {
    color: inherit;
}
.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.alert-block {
	background-color: #F5F5F5;
	color: #353535;
	border: 1px solid #CCCCCC;
	
    padding-bottom: 14px;
    padding-top: 14px;
}
.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}
