.wwFormTable {}

.errorLabel {color:#BF2F2F; font-weight: bold; }
.errorMessage {font-weight:bold; color:#BF2F2F; }
.checkboxLabel {}
.checkboxErrorLabel {color:#BF2F2F; }
.required {color:#BF2F2F;}
.wwgrp{   
  margin-top: 1em;
  margin-bottom: 1em;

}