@IMPORT url("reset.css");
@IMPORT url("text.css");

a, a:VISITED {
	text-decoration: none;
	color: #21759B;
}

a:HOVER {
	text-decoration: none;
	color: #D54E21 !important;
}

body{
	
	min-width: 785px;
	/* background-color: white; */
	background-color: #F9F9F9;
	color: #333333;
}

#body{
	clear: both;
	padding: 0 20px 0 20px;	
}


#wrap{
	height: auto;
	min-height: 100%;
	width: 100%;
}

#wrapped-content{
	height: 100%;
	min-height: 520px;
	padding-bottom: 50px;
}

#open-bar{
	z-index: 1;
	background: #000000 none repeat scroll 0 0;
	font-size: 10px;
	color: #999999;
	padding: 0 20px 0 20px;
}

#open-bar .highlight{
	color: #CCCCCC;
	font-weight: bold;
}

#header{
	height: 46px;
	background-color: #1B5790;
	padding: 0 20px 0 20px;

}
#header h1{
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:22px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0;
	padding-top:10px;
	float: left;	
}

#header h1 a{
	color: white;
	text-transform: lowercase;
	font-weight: bold;
}

#header h1 a:hover{
	color: #F1F1F1 !important;
}

#info{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-size: 10px;
	color: #CCCCCC;
	float: right;
	margin-top: 8px;
	
}




#messages{
	clear: both;	
}

.hidden{	
	visibility: hidden;
}

#admin-menu{
	clear: both;
	float: left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:15px 5px 15px 0px;
	width: 145px;	
}
#admin-menu *{
	border-color: #E3E3E3;	
}

#admin-menu li{
	margin-left: 0px;
	padding: 2px 0px 2px 8px;
	border-style:solid solid none;
	border-width:1px 1px 0;
	background: #F1F1F1 url(../../img/menu-bits.gif) repeat-x scroll left -379px;
}


#admin-menu li.home-menu-item{
	background: #F1F1F1 url(../../img/menu-bits.gif) repeat-x scroll left -379px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	
	
	border-style:solid;
	border-width:1px;

}
#admin-menu li.top-menu-item{
	background: #F1F1F1 url(../../img/menu-bits.gif) repeat-x scroll left -379px;
	
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	
	border-style:solid solid none;
	border-width:1px 1px 0;
}

#admin-menu li.bottom-menu-item{
	background: #F1F1F1 url(../../img/menu-bits.gif) repeat-x scroll left -379px;
	
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-style:solid;
	border-width:1px;
	
}

#admin-menu li.menu-separator{
	height: 21px;
	margin: 0;
	padding: 0;
	background:transparent  no-repeat scroll 0 0;
	border: 0 none;
}


#admin-menu li a:hover{
	color: #D54E21 !important;
}

#admin-menu li a, #admin-menu li a:visited{
	color: #21759B;
}


#content{
	float: left;
	margin: 15px 0 0 20px;
}

#footer{
	clear: both;
	background-color: #464646;
	height: 46px;
	text-align: center;
	padding: 5px 20px 0 20px;
	position: relative;
}

#footer .version{
	color: #CCCCCC;
	font-size: 9px;
}

#content h2{
	color: #464646;
	
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:24px;
	
	font-size-adjust:none;
	font-stretch:normal;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	
	margin:-5px 0 5px;
	
}